html(lang='en')
    head
        meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
        title നിങ്ങളുടെ ഇപ്പോഴത്തെ അവസ്ഥ |  Angry Clowns Entertainment
        script(type='text/javascript', src='/javascript/jquery.min.js')
        script(async='', src='//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js')
        //script(type='text/javascript', src='javascript/fb_all.js')
        //script(type='text/javascript', src='/javascript/home.js')
        link(rel='stylesheet', type='text/css', href='/stylesheets/bootstrap.min.css')
        link(rel='stylesheet', type='text/css', href='/stylesheets/bootstrap-responsive.min.css')
        link(rel='stylesheet', type='text/css', href='/stylesheets/style_new.css')
        //link(rel='stylesheet', type='text/css', href='stylesheets/font-awesome.min.css')
        //link(rel='stylesheet', type='text/css', href='stylesheets/style.css')
    body(oncontextmenu="return false")
        .storage#storage(url=redirect)
        .storage_image#storage_image(url=og_image)
        #blog(style='background: #00BCD4;')
            // Blog Content
            .container
                hr
                h3
                    span
                        | Angry Clowns App
                        sup BETA
                br
                p.lead
                    | നിങ്ങളുടെ ഇപ്പോഴത്തെ
                    span  അവസ്ഥ,
                    |  കണ്ടെത്തൂ .
                    br
                    #blog-filters.filter
                        img(src=og_image, alt='Logo')
                        p
                            br
                        a(href="/dash")
                            img(src="/images/try_yours.png",width="150px")
                    .hero-unit.text-center
                        ins.adsbygoogle(style='display:block', data-ad-client='ca-pub-6400861553252981', data-ad-slot='2071435353', data-ad-format='auto')
                        script.
                            (adsbygoogle = window.adsbygoogle || []).push({});


        //script(type='text/javascript', src='javascript/bootstrap.min.js')

