html
    head
        meta(charset='utf-8')
        title Angry Clowns Apps powered by Collaborative Clouds Ltd
        meta(charset='UTF-8')
        script(src='assets/js/jquery.min.js')
        script(type='text/javascript', src='https://connect.facebook.net/en_us/all.js')
        script(type='text/javascript', src='/javascript/home.js')
        script(src='http://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js')
            // stats.js lib
        script(src='http://threejs.org/examples/js/libs/stats.min.js')
        //link(rel='stylesheet', href='assets/css/lib.css')
        //link(rel='stylesheet', href='assets/css/app.css')
        link(rel='stylesheet', href='assets/css/materialize.css')
        link(rel='stylesheet', href='stylesheet/particle.css')

    body(oncontextmenu="return true")
        script.
            window.fbAsyncInit = function () {
                FB.init({
                    appId: '1070226503051446',
                    xfbml: true,
                    version: 'v2.6'
                });
            };
            (function (d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) {console.log("GET_ELEM:"+d.getElementsById(id));return;}
                js = d.createElement(s);
                js.id = id;
                js.src = "https://connect.facebook.net/en_us/all.js#xfbml=1&version=v2.6&appId=1070226503051446";
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));
        #particles-js
        .count-particles
            span.js-count-particles
        nav.Nav
            a.Nav__hamburger(href='#')

        main.Work
            header.Hero.Hero--work(style="background: #2B334C;")
                p.Hero__pretitle(style="font-weight:bold;color:white;") Angry Clowns Apps
                    sup(style="font-size:10px;color:red;") beta
                .Hero__video.Hero__video--90(data-filename='work/brands')
        .d#app-section(style='background: #2B334C;')
            .container(style='padding: 100px 0px;')
                .row
                    .col.m12.center
                        .storage#storage(url=redirect)
                        .storage_image#storage_image(url=og_image)
                        img(src=og_image, alt='')
                        br
                        //a.btnShare(href=redirect, data-image=og_image, data-title='Your Current Situation', data-desc='Find which character resembles your current situation')
                            img(src="images/share.png",width="150px")
                        a.btnShare(href=redirect, data-image="http://games.angryclowns.com/images/giphy.gif", data-title='Your Current Situation', data-desc='Find which character resembles your current situation')
                            img(src="images/share.png",width="150px")


        footer.CTA.CTA--footer(itemscope='', itemtype='http://schema.org/LocalBusiness')
            div
                p(itemprop='name')
                    strong Collaborative Clouds Inc.
                p(itemprop='address', itemscope='', itemtype='http://schema.org/PostalAddress')
                    span(itemprop='streetAddress') BTM Layout, Koramangala
                    br
                    span(itemprop='postalCode') Bangalore
                    br
                    a(href='http://www.collaborativeclouds.in') collaborativeclouds.in
                    br
                    a(href='mailto:collaborativeclouds@gmail.com') collaborativeclouds@gmail.com
        //script(src='assets/js/lib.js')
        //script(src='assets/js/app.js')
