html(lang='en')
    head
        meta(charset='utf-8')
        meta(http-equiv='x-ua-compatible', content='ie=edge')
        title Angry Clowns Apps powered by Collaborative Clouds Ltd
        meta(charset='UTF-8')
        script(src='assets/js/jquery.min.js')
        script(type='text/javascript', src='assets/js/bootstrap.min.js')
        link(href='assets/css/bootstrap.css', rel='stylesheet')
        link(href='assets/css/font-awesome.css', rel='stylesheet')
        link(href='assets/css/bootstrap-theme.css', rel='stylesheet')
        script(type='text/javascript', src='https://connect.facebook.net/en_us/all.js')
        script(type='text/javascript', src='/javascript/home.js')
        script(src='javascript/result.js')
        link(rel='stylesheet', href='assets/css/lib.css')
        link(rel='stylesheet', href='assets/css/app.css')
        link(rel='stylesheet', href='assets/css/materialize.css')

    body(oncontextmenu="return true")
        script.
            window.fbAsyncInit = function () {
                FB.init({
                    appId: '1635446443444270',
                    xfbml: true,
                    version: 'v2.5'
                });
            };
            (function (d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) {
                    return;
                }
                js = d.createElement(s);
                js.id = id;
                js.src = "https://connect.facebook.net/en_us/all.js";
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));
        nav.Nav
            a.Nav__hamburger(href='#')

        main.Work
            header.Hero.Hero--work(style="background: #2B334C;")
                p.Hero__pretitle(style="font-weight:bold;color:white;") Angry Clowns Apps
                    sup(style="font-size:10px;color:red;") beta
                .Hero__video.Hero__video--90(data-filename='work/brands')
        .d#app-section(style='background: #2B334C;')
            .container(style='padding: 100px 0px;')
                .row
                    .col.m12.center
                        .storage#storage(url=redirect)
                        .storage_image#storage_image(url=og_image)
                        img(src=og_image, alt='')
                        br
                        a.btnShare(href=redirect, data-image=og_image, data-title='Your Current Situation', data-desc='Find which character resembles your current situation')
                            img(src="images/share.png",width="150px")


        footer.CTA.CTA--footer(itemscope='', itemtype='http://schema.org/LocalBusiness')
            div
                p(itemprop='name')
                    strong Collaborative Clouds Inc.
                p(itemprop='address', itemscope='', itemtype='http://schema.org/PostalAddress')
                    span(itemprop='streetAddress') BTM Layout, Koramangala
                    br
                    span(itemprop='postalCode') Bangalore
                    br
                    a(href='http://www.collaborativeclouds.in') collaborativeclouds.in
                    br
                    a(href='mailto:collaborativeclouds@gmail.com') collaborativeclouds@gmail.com
            //div
                script(async='', src='//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js')
                // Game Ad#1
                ins.adsbygoogle(style='display:block', data-ad-client='ca-pub-6400861553252981', data-ad-slot='2071435353', data-ad-format='auto')
                script.
                    (adsbygoogle = window.adsbygoogle || []).push({});

                //p
                //    strong Need quick answers?
                //p
                //    //span(itemprop='telephone')
                //    //    a(href='tel:9902099573')
                //    //br
                //    span(itemprop='email')
                //        a(href='mailto:angryclownsentertainment@gmail.com') angryclownsentertainment@gmail.com
            ////div
            //    p
            //        strong We're social!
            //    p.CTA__social
            //        a.Social__twitter(target='_blank', href='https://twitter.com/3magine', title='Twitter')
            //            // Generator: Adobe Illustrator 17.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)
            //            svg#Layer_1(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 612 792', enable-background='new 0 0 612 792', xml:space='preserve')
            //                path(fill='#FFFFFF', d='M612,206.4c-22.6,10-46.6,16.6-71.8,20c25.9-15.3,45.9-39.9,55.2-69.2c-23.9,14.6-51.2,24.6-79.8,30.6\
            //  c-23.3-25.3-55.9-40.6-91.8-40.6c-69.2,0-125.7,55.9-125.7,125.7c0,10,1.3,19.3,3.3,28.6c-104.4-5.3-196.9-55.2-258.8-131\
            //  c-10.6,18.6-17.3,39.9-17.3,63.2c0,43.2,22,81.8,55.9,104.4c-20.6-0.7-39.9-6-56.5-16c0,0.7,0,1.3,0,1.3\
            //  c0,60.5,43.2,111.8,100.4,123.1c-10.6,2.7-21.3,4.7-33.3,4.7c-8,0-16-0.7-23.9-2c16,49.9,62.5,86.5,117.1,87.1\
            //  c-43.2,33.9-97.1,53.9-155.7,53.9c-10,0-20-0.7-29.9-2c55.9,35.9,121.7,56.5,192.2,56.5c230.8,0,357.2-191.6,357.2-357.2\
            //  c0-5.3,0-10.6-0.7-16C574.1,253.6,595.4,231,612,206.4z')
            //        a.Social__dribbble(target='_blank', href='https://dribbble.com/3magine', title='Dribbble')
            //            // Generator: Adobe Illustrator 17.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)
            //            svg#Layer_1(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 92 92', enable-background='new 0 0 92 92', xml:space='preserve')
            //                path(fill='#FFFFFF', d='M43.8,33.1C37,21,29.8,11.2,29.2,10.5c-11,5.2-19.1,15.3-21.7,27.4C8.6,37.9,25,38.1,43.8,33.1z M48.7,46.3\
            //  c0.5-0.2,1-0.3,1.5-0.5c-1-2.2-2.1-4.5-3.2-6.7c-20.2,6.1-39.6,5.6-40.3,5.6c0,0.4,0,0.8,0,1.2c0,10.1,3.8,19.3,10.1,26.3\
            //  c0,0,0,0,0,0S27.5,53.2,48.7,46.3z M21.9,77L21.9,77c-0.3-0.2-0.6-0.5-0.9-0.7C21.5,76.7,21.9,77,21.9,77z M36.6,7.9\
            //  c0,0-0.1,0-0.1,0C36.5,7.9,36.6,7.9,36.6,7.9L36.6,7.9z M71.9,16.5C65,10.4,55.9,6.7,46,6.7c-3.2,0-6.3,0.4-9.3,1.1\
            //  c0.6,0.8,8,10.6,14.7,22.9C66.2,25.2,71.8,16.7,71.9,16.5z M46,92C20.6,92,0,71.4,0,46C0,20.6,20.6,0,46,0c25.4,0,46,20.6,46,46\
            //  C92,71.4,71.4,92,46,92z M52.7,52.4C29.6,60.5,22,76.6,21.9,77c6.7,5.2,15,8.3,24.1,8.3c5.4,0,10.6-1.1,15.3-3.1\
            //  c-0.6-3.4-2.9-15.5-8.4-29.8C52.9,52.4,52.8,52.4,52.7,52.4z M54.5,36.6c0.9,1.9,1.8,3.8,2.6,5.7c0.3,0.7,0.6,1.4,0.8,2\
            //  c13.6-1.7,26.9,1.2,27.4,1.3c-0.1-9.3-3.4-17.9-8.9-24.6C76.3,21.2,70,30.3,54.5,36.6z M60.3,50.5c5.2,14.2,7.2,25.7,7.6,28.1\
            //  c8.8-6,15.1-15.4,16.8-26.4C84,52,73,48.5,60.3,50.5z')

        //script(type='text/javascript', src='https://connect.facebook.net/en_us/all.js')
        script(src='assets/js/lib.js')
        script(src='assets/js/app.js')
